@import 'normal';
@import 'small';
@import 'print';

img {
	border-radius: 20px;
}

.banner1, img[src*="#banner1"]  {
  box-sizing: border-box;
  width: 100%;
}

.banner2, img[src*="#banner2"] {
  box-sizing: border-box;
  width: 60%;
  float: left;
  clear: left;
  margin-right: 1.25em;
}
.banner3, .banner3_big, img[src*="#banner3"], img[src*="#banner3_big"], .banner3_small, img[src*="#banner3_small"]{
  box-sizing: border-box;
  margin-left: 0.5em;
  width: 40%;
  float: right;
  clear: right;
}
.banner3_big, img[src*="#banner3_big"] {
  width: 60%;
}
.banner3_small, img[src*="#banner3_small"] {
  width: 30%;
}

.p4video {
  text-align: center;
  position:relative;
  padding-bottom:56.25%;
  padding-top:30px;
  height:0;
  overflow:hidden;
}

.p4video iframe, .p4video embed, .p4video object{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}
