@import url("https://fonts.googleapis.com/css?family=Amatic+SC:400,700");
@import url("https://fonts.googleapis.com/css?family=Montserrat");
@media screen {
  @keyframes appear {
    from {
      opacity: 0; }
    to {
      opacity: 1; } }
  body,
  html {
    width: 100%;
    height: 100%;
    color: #ddd;
    padding: 0;
    margin: 0;
    font-family: 'Amatic SC', cursive;
    font-size-adjust: auto; }

  html {
    background: #111;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: lighten;
    background-image: url("/images/background.jpg");
    background-size: cover;
    background-attachment: fixed; }

  #top {
    display: block;
    width: 100%;
    height: 3em;
    box-sizing: border-box;
    padding: 0;
    font-size: 3em;
    font-weight: 700;
    text-align: center;
    font-stretch: expanded;
    background: #000;
    border-bottom: #333 1px solid;
    z-index: 1001; }
    #top h1 {
      display: block;
      position: relative;
      top: -0.1em;
      font-size: 3em;
      text-align: left;
      padding: 0 5%;
      margin: 0;
      width: 100%;
      opacity: 0.9;
      box-sizing: border-box; }
    #top p {
      font-size: 0.4em;
      position: absolute;
      top: 0.5em;
      right: 1em; }

  #bottom {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
    padding: 0.2em;
    height: 1.5em;
    font-size: 2em;
    text-align: center;
    background: #000;
    border-top: #333 1px solid;
    z-index: 1001;
    animation-name: appear;
    animation-duration: 1s;
    transition: opacity 1s; }
    #bottom img {
      padding: 0;
      margin: 0; }
    #bottom .social {
      display: inline-block;
      margin: 0 0.5em;
      padding: 0;
      height: 2em;
      width: 100%;
      text-align: left;
      position: absolute;
      overflow: visible;
      left: 0; }
      #bottom .social a {
        display: inline-block;
        position: relative;
        margin: 0 0.5em;
        padding: 0;
        height: 29px;
        width: 29px;
        border-radius: 3px;
        background-color: #112;
        text-decoration: none;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover; }
        #bottom .social a:hover {
          background-color: #668; }
    #bottom .copyright {
      right: 1em;
      position: absolute;
      font-size: 0.5em; }

  #audio {
    position: absolute;
    top: 1em;
    left: 1em;
    z-index: 9999; }

  #player_container {
    display: none; }
    #player_container.active {
      width: 3em;
      display: inline-block;
      overflow: visible;
      position: relative; }
      #player_container.active #player {
        width: 3em;
        height: 3em;
        position: absolute;
        top: -2.75em;
        left: 0;
        display: inline-block; }

  h1, h2, h3 {
    font-size: 3em;
    text-align: center;
    padding: 0.4em 0;
    margin: 0;
    width: 100%;
    font-family: 'Amatic SC', cursive; }

  h2, h3 {
    font-size: 2em; }

  h2 {
    text-align: left; }

  h3 {
    text-align: right; }

  a {
    color: #eee;
    text-decoration: none; }
    a:active, a:hover {
      color: #eeb; }

  p {
    width: 100%; }

  #content {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 1.2em;
    padding: 0 10% 5em 10%;
    margin-bottom: 4em;
    animation-name: appear;
    animation-duration: 1s;
    transition: opacity 1s; }
    #content a {
      color: #eaa;
      text-decoration: none; }
      #content a:active, #content a:hover {
        color: #eea; }

  #menu {
    width: 100%;
    height: 3em;
    overflow: visible;
    background: rgba(64, 64, 64, 0.3);
    vertical-align: top;
    text-align: center;
    box-sizing: border-box; }
    #menu li {
      padding: 0;
      margin: 0;
      width: 20%;
      height: 100%;
      display: inline-block;
      position: relative;
      vertical-align: top;
      box-sizing: border-box; }
    #menu ul, #menu ul ul li {
      position: relative;
      box-sizing: border-box;
      vertical-align: top;
      overflow-y: hidden;
      overflow-x: visible;
      list-style: none;
      display: inline-block;
      padding: 0;
      margin: 0;
      width: 100%;
      height: 100%; }
      #menu ul:hover, #menu ul:active, #menu ul ul li:hover, #menu ul ul li:active {
        overflow-y: visible; }
    #menu ul ul li {
      opacity: 0; }
    #menu ul ul li:first-child {
      opacity: 1; }
    #menu ul ul li:last-child {
      border-radius: 0 0 0.5em 0.5em;
      overflow: hidden; }
    #menu ul ul:hover li, #menu ul ul:active li {
      transition: opacity 0.25s;
      opacity: 1; }
    #menu a {
      box-sizing: border-box;
      vertical-align: middle;
      font-size: 1.5em;
      line-height: 2em;
      font-weight: bold;
      text-rendering: optimizeLegibility;
      text-align: center;
      padding: 0;
      margin: 0;
      width: 100%;
      height: 100%;
      border-left: rgba(128, 128, 128, 0.4) solid 1px;
      border-right: rgba(128, 128, 128, 0.6) solid 1px;
      border-collapse: collapse;
      display: inline-block;
      transition: background 0.5s;
      background: rgba(48, 48, 48, 0.75);
      z-index: 1001;
      position: relative; }
      #menu a:hover, #menu a:active {
        background: rgba(128, 128, 128, 0.9); }

  #burger {
    display: none; }

  table {
    width: 100%;
    box-sizing: border-box;
    border-collapse: collapse; }
    table tr, table td, table th {
      border-collapse: collapse;
      border: 1px rgba(128, 128, 128, 0.9) solid;
      padding: 0.1em 1em; } }
@media only screen and (max-width: 768px) {
  #top h1 {
    text-align: right;
    font-size: 1.8em;
    vertical-align: middle;
    line-height: 2em;
    padding: 0 0.2em 0 0; }
  #top p {
    font-size: 0.25em; }

  #burger {
    display: block;
    position: absolute;
    font-size: 2em;
    top: 1.5em;
    left: 0.2em;
    overflow: visible;
    transform: translateX(-999999px);
    z-index: 900; }
    #burger:after {
      transform: translateX(999999px);
      content: " ";
      font-size: 1em;
      display: block;
      box-sizing: border-box;
      padding: 0;
      margin: 0;
      width: 2em;
      height: 2em;
      position: absolute;
      left: 0;
      top: 0;
      border-radius: 1em;
      background-color: rgba(192, 192, 192, 0);
      background-image: url(/images/menu.svg);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      transition: transform 0.3s ease, opacity 0.3s ease, background-color 0.3s ease;
      -webkit-transition: transform 0.3s ease, opacity 0.3s ease, background-color 0.3s ease;
      -moz-transition: transform 0.3s ease, opacity 0.3s ease, background-color 0.3s ease;
      -o-transition: transform 0.3s ease, opacity 0.3s ease, background-color 0.3s ease; }
    #burger:checked:after {
      transform: translateX(999999px) rotate(90deg);
      background-color: rgba(192, 192, 192, 0.4); }

  #menu {
    padding: 0;
    background-color: inherit; }

  #burger + ul {
    padding: 0;
    opacity: 0;
    overflow-y: visible;
    height: auto;
    transform-origin: top;
    transform: scaleY(0);
    transition: opacity 0.4s, transform 0.3s;
    width: 100%;
    box-sizing: border-box; }
    #burger + ul li {
      display: block;
      width: 100%;
      box-sizing: border-box; }
    #burger + ul ul {
      height: auto;
      border-bottom: rgba(128, 128, 128, 0.4) solid 1px;
      border-top: rgba(128, 128, 128, 0.6) solid 1px; }
      #burger + ul ul li {
        opacity: 1;
        border-radius: 0; }
        #burger + ul ul li:first-child {
          background: rgba(0, 0, 0, 0.7); }
        #burger + ul ul li:last-child {
          border-radius: 0; }
    #burger + ul a {
      width: 100%; }

  #burger:checked + ul {
    opacity: 1;
    transform: scaleY(1); } }
@media print {
  html {
    font-family: sans-serif; }

  #top,
  #bottom,
  #burger,
  #menu,
  #audio,
  #player_container {
    display: none  !important; }

  a {
    color: #60f;
    text-decoration: none; }

  h1 {
    text-align: center; }

  h2 {
    text-align: left; }

  h3 {
    text-align: right; }

  table {
    width: 100%;
    box-sizing: border-box;
    border-collapse: collapse; }
    table tr, table td, table th {
      border-collapse: collapse;
      border: 1px #333 solid;
      padding: 0.1em 1em; }

  img {
    border: 1px solid #fff; } }
img {
  border-radius: 20px; }

.banner1 {
  box-sizing: border-box;
  width: 100%; }

.banner2 {
  box-sizing: border-box;
  width: 60%;
  float: left;
  clear: left; }

.banner3 {
  box-sizing: border-box;
  width: 40%;
  float: right;
  clear: right; }

/*# sourceMappingURL=main.css.map */
