@import url("https://fonts.googleapis.com/css?family=Amatic+SC:400,700");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
@media screen {
  @keyframes appear {
    from {
      opacity: 0; }
    to {
      opacity: 1; } }
  body,
  html {
    width: 100%;
    height: 100%;
    color: #ddd;
    padding: 0;
    margin: 0;
    font-family: 'Amatic SC', cursive;
    font-size-adjust: auto; }
  html {
    background: #111;
    background-repeat: no-repeat;
    background-position: left;
    background-blend-mode: lighten;
    background-image: url("/images/background.jpg");
    background-size: cover;
    background-attachment: fixed; }
  #top {
    display: block;
    width: 100%;
    height: 3em;
    box-sizing: border-box;
    padding: 0;
    font-size: 3em;
    font-weight: 700;
    text-align: center;
    font-stretch: expanded;
    background: #000;
    border-bottom: #333 1px solid;
    z-index: 1001; }
    #top h1 {
      display: block;
      position: relative;
      top: -0.1em;
      font-size: 3em;
      text-align: left;
      padding: 0 5%;
      margin: 0;
      width: 100%;
      opacity: 0.9;
      box-sizing: border-box; }
    #top p {
      font-size: 0.4em;
      position: absolute;
      top: 0.5em;
      right: 1em;
      text-align: right; }
  #bottom {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
    padding: 0.2em;
    height: 1.5em;
    font-size: 2em;
    text-align: center;
    background: #000;
    border-top: #333 1px solid;
    z-index: 1001;
    animation-name: appear;
    animation-duration: 1s;
    transition: opacity 1s; }
    #bottom img {
      padding: 0;
      margin: 0; }
    #bottom .social {
      display: inline-block;
      margin: 0 0.5em;
      padding: 0;
      height: 2em;
      width: 100%;
      text-align: left;
      position: absolute;
      overflow: visible;
      left: 0; }
      #bottom .social a {
        display: inline-block;
        position: relative;
        margin: 0 0.5em;
        padding: 0;
        height: 29px;
        width: 29px;
        border-radius: 3px;
        background-color: #112;
        text-decoration: none;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover; }
        #bottom .social a:hover {
          background-color: #668; }
    #bottom .copyright {
      right: 1em;
      position: absolute;
      font-size: 0.5em; }
  #audio {
    position: absolute;
    top: 1em;
    left: 1em;
    z-index: 9999; }
  #player_container {
    display: none; }
    #player_container.active {
      width: 3em;
      display: inline-block;
      overflow: visible;
      position: relative; }
      #player_container.active #player {
        width: 3em;
        height: 3em;
        position: absolute;
        top: -2.75em;
        left: 0;
        display: inline-block;
        z-index: 1001; }
  #score_link {
    display: block;
    position: absolute;
    width: 0px;
    height: 0px;
    overflow: hidden;
    bottom: 1.2em;
    z-index: 900; }
    #score_link:after {
      content: "Score";
      display: inline-block;
      position: relative;
      width: 3em;
      height: 1em;
      bottom: 0;
      left: 3.6em;
      font-size: 0.8em;
      border: rgba(128, 128, 128, 0.6) solid 1px;
      border-radius: 0.4em;
      transition: background 0.5s;
      background: rgba(48, 48, 48, 0.75);
      z-index: 1001; }
      #score_link:after:hover, #score_link:after:active {
        background: rgba(128, 128, 128, 0.9); }
  h1, h2, h3, h5 {
    font-size: 3em;
    text-align: center;
    padding: 0.4em 0;
    margin: 0;
    width: 100%;
    font-family: 'Amatic SC', cursive; }
  h2, h3 {
    font-size: 2em; }
  h2, h5 {
    text-align: left; }
  h3 {
    text-align: right; }
  h4 {
    text-align: center;
    font-size: 1.4em;
    font-weight: normal;
    font-family: 'Amatic SC', cursive;
    padding: 0.4em 0;
    margin: 0; }
  h5 {
    font-size: 1.4em;
    font-weight: bold;
    list-style-type: circle;
    list-style-position: inside;
    display: list-item;
    cursor: pointer;
    padding: 0.2em 0;
    border-radius: 0.4em; }
    h5.showing {
      list-style-type: disc;
      background-color: rgba(200, 200, 200, 0.2); }
    h5:hover {
      background-color: #668; }
  .section_H5 {
    transition: transform 250ms ease-in-out, max-height 250ms ease-in-out;
    transform-origin: 50% 0;
    transform: rotateX(0);
    max-height: 100em;
    background-color: rgba(200, 200, 200, 0.1);
    border-radius: 0.4em;
    border: 1px solid #aaa;
    border-top: none;
    padding: 0.5em; }
  .hide {
    max-height: 0;
    overflow: hidden;
    transform: rotateX(90deg); }
  a {
    color: #eee;
    text-decoration: none; }
    a:active, a:hover {
      color: #eeb; }
  p {
    width: 100%; }
  blockquote p {
    margin-top: 0.4em;
    margin-bottom: 0.4em; }
  #content {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 1.2em;
    padding: 0 10% 5em 10%;
    margin-bottom: 4em;
    animation-name: appear;
    animation-duration: 1s;
    transition: opacity 1s; }
    #content a {
      color: #eaa;
      text-decoration: none; }
      #content a:active, #content a:hover {
        color: #eea; }
  #menu {
    width: 100%;
    height: 3em;
    overflow: visible;
    background: rgba(64, 64, 64, 0.3);
    vertical-align: top;
    text-align: center;
    box-sizing: border-box; }
    #menu li {
      padding: 0;
      margin: 0;
      width: 20%;
      height: 100%;
      display: inline-block;
      position: relative;
      vertical-align: top;
      box-sizing: border-box; }
    #menu ul, #menu ul ul li {
      position: relative;
      box-sizing: border-box;
      vertical-align: top;
      overflow-y: hidden;
      overflow-x: visible;
      list-style: none;
      display: inline-block;
      padding: 0;
      margin: 0;
      width: 100%;
      height: 100%; }
      #menu ul:hover, #menu ul:active, #menu ul ul li:hover, #menu ul ul li:active {
        overflow-y: visible; }
    #menu ul ul li {
      opacity: 0; }
    #menu ul ul li:last-child {
      border-radius: 0 0 0.5em 0.5em;
      overflow: hidden; }
    #menu ul ul li:first-child {
      opacity: 1;
      border-radius: 0; }
    #menu ul ul:hover li, #menu ul ul:active li {
      transition: opacity 0.25s;
      opacity: 1; }
    #menu a {
      box-sizing: border-box;
      vertical-align: middle;
      font-size: 1.5em;
      line-height: 2em;
      font-weight: bold;
      text-rendering: optimizeLegibility;
      text-align: center;
      padding: 0;
      margin: 0;
      width: 100%;
      height: 100%;
      border-left: rgba(128, 128, 128, 0.4) solid 1px;
      border-right: rgba(128, 128, 128, 0.6) solid 1px;
      border-collapse: collapse;
      display: inline-block;
      transition: background 0.5s;
      background: rgba(48, 48, 48, 0.75);
      z-index: 1001;
      position: relative; }
      #menu a:hover, #menu a:active {
        background: rgba(128, 128, 128, 0.9); }
  input.burger, input.burger + svg {
    display: none; }
  table {
    width: 100%;
    box-sizing: border-box;
    border-collapse: collapse; }
    table tr, table td, table th {
      border-collapse: collapse;
      border: 1px rgba(128, 128, 128, 0.9) solid;
      padding: 0.1em 1em; }
  img {
    border-radius: 20px; }
  .banner1, img[src*="#banner1"] {
    box-sizing: border-box;
    width: 100%; }
  .banner2, img[src*="#banner2"] {
    box-sizing: border-box;
    width: 60%;
    float: left;
    clear: left;
    margin-right: 1.25em; }
  .banner3, .banner3_big, img[src*="#banner3"], img[src*="#banner3_big"], .banner3_small, img[src*="#banner3_small"] {
    box-sizing: border-box;
    margin-left: 0.5em;
    width: 40%;
    float: right;
    clear: right; }
  .banner3_big, img[src*="#banner3_big"] {
    width: 60%; }
  .banner3_small, img[src*="#banner3_small"] {
    width: 30%; } }

@media only screen and (max-width: 768px) {
  #top h1 {
    font-size: 2em;
    vertical-align: middle;
    line-height: 2em;
    padding: 0 0.2em 0 0.1em; }
  #top p {
    font-size: 0.25em; }
  input.burger {
    display: block;
    width: 0em;
    height: 0em;
    position: absolute;
    transform: translate(-999999px); }
  input.burger + svg + ul,
  input.burger + ul {
    transform: translateX(100%); }
  input.burger.left + svg + ul,
  input.burger.left + ul {
    transform: translateX(-100%); }
  input.burger:checked + svg + nav,
  input.burger:checked + nav {
    transform: translateX(0); }
  input.burger + svg {
    width: 2.5em;
    height: 2.5em;
    display: block;
    border-radius: 10%;
    position: absolute;
    z-index: 999; }
  input.burger + svg .line1,
  input.burger + svg .line2,
  input.burger + svg .line3,
  input.burger + svg .line4 {
    transition: 0.25s;
    stroke: #7878ff;
    stroke-width: 20%;
    stroke-linecap: round;
    transform-origin: center center; }
  input.burger:checked + svg .line1 {
    stroke: #c83c3c;
    transform-origin: 5% 35%;
    transform: translate(-3%, 0%) rotate(45deg) scale(1); }
  input.burger:checked + svg .line2,
  input.burger:checked + svg .line3,
  input.burger.left:checked + svg .line2,
  input.burger.left:checked + svg .line3 {
    stroke: #c83c3c;
    transform-origin: 50% 50%;
    transform: translate(0%, 0%) rotate(-45deg) scale(0.1); }
  input.burger:checked + svg .line4 {
    stroke: #c83c3c;
    transform-origin: 5% 70%;
    transform: translate(-1.5%, -3%) rotate(-45deg) scale(1); }
  #menu {
    padding: 0;
    background-color: inherit; }
  #burger + svg + ul {
    padding: 0;
    opacity: 0;
    overflow-y: visible;
    height: auto;
    transform-origin: top;
    transform: scaleY(0);
    transition: opacity 0.4s, transform 0.3s;
    width: 100%;
    box-sizing: border-box; }
    #burger + svg + ul li {
      display: block;
      width: 100%;
      box-sizing: border-box; }
    #burger + svg + ul ul {
      height: auto;
      border-bottom: rgba(128, 128, 128, 0.4) solid 1px;
      border-top: rgba(128, 128, 128, 0.6) solid 1px; }
      #burger + svg + ul ul li {
        opacity: 1;
        border-radius: 0; }
        #burger + svg + ul ul li:first-child {
          background: rgba(0, 0, 0, 0.7); }
        #burger + svg + ul ul li:last-child {
          border-radius: 0; }
    #burger + svg + ul a {
      width: 100%; }
  #burger:checked + svg + ul {
    opacity: 1;
    transform: scaleY(1); }
  img {
    border-radius: 20px; }
  .banner1, img[src*="#banner1"],
  .banner2, img[src*="#banner2"],
  .banner3, img[src*="#banner3"],
  .banner3_big, img[src*="#banner3_big"],
  .banner3_small, img[src*="#banner3_small"] {
    box-sizing: border-box;
    float: none;
    width: 100%;
    margin: 0.5em; } }

@media print {
  html {
    font-family: sans-serif; }
  #top,
  #menu,
  #bottom,
  #burger,
  #header,
  #audio,
  #player_container {
    display: none  !important; }
  a {
    color: #60f;
    text-decoration: none; }
  h1 {
    text-align: center; }
  h2 {
    text-align: left; }
  h3 {
    text-align: right; }
  table {
    width: 100%;
    box-sizing: border-box;
    border-collapse: collapse; }
    table tr, table td, table th {
      border-collapse: collapse;
      border: 1px #333 solid;
      padding: 0.1em 1em; }
  img {
    border: 1px solid #fff; } }

.p4video {
  text-align: center;
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden; }

.p4video iframe, .p4video embed, .p4video object {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

/*# sourceMappingURL=main.css.map */